.card {
  padding: 0; // the img takes the whole width of the card
}

.card-img-top {
  height: 20vh;
  width: 100%;
  background-size: cover;
  position: relative;
  .card-title {
    color:white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 10px;
    text-shadow: 0px 0px 10px black;
  }
}

.card-body {
  height: 200px; // all cards have the same size and buttons are positioned at the same place
}
